In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('maindata/01_제공데이터/2020 빅콘테스트 데이터분석분야-챔피언리그_2019년 실적데이터_v1_200818.xlsx', skiprows=[0])
df = df.rename(columns = {"Unnamed: 1":'time',"Unnamed: 2":"ampm"})
df

,방송일시,time,ampm,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
0,2019-01-01,06:00:00,AM,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0
1,2019-01-01,06:00:00,AM,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0
2,2019-01-01,06:20:00,AM,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0
3,2019-01-01,06:20:00,AM,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0
4,2019-01-01,06:40:00,AM,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0
...,...,...,...,...,...,...,...,...,...,...
38304,2020-01-01,12:20:00,AM,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN
38305,2020-01-01,12:40:00,AM,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN
38306,2020-01-01,01:00:00,AM,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN
38307,2020-01-01,01:20:00,AM,20.000000,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN
38308,2020-01-01,01:40:00,AM,17.166667,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN

In [3]:
df1 = df.copy()

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38309 entries, 0 to 38308
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   방송일시    38309 non-null  object
 1   time    38309 non-null  object
 2   ampm    38309 non-null  object
 3   노출(분)   21525 non-null  float64
 4   마더코드    38309 non-null  int64
 5   상품코드    38309 non-null  int64
 6   상품명     38309 non-null  object
 7   상품군     38309 non-null  object
 8   판매단가    38309 non-null  int64
 9   취급액     35379 non-null  float64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.9+ MB

In [4]:
df1.describe(include = "all")

,방송일시,time,ampm,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
count,38309,38309,38309,21525.000000,38309.000000,38309.000000,38309,38309,3.830900e+04,3.537900e+04
unique,366,94,2,NaN,NaN,NaN,1770,12,NaN,NaN
top,2019-06-15,10:00:00,PM,NaN,NaN,NaN,한일 대용량 스텐 분쇄믹서기,주방,NaN,NaN
freq,157,1834,24962,NaN,NaN,NaN,401,6604,NaN,NaN
mean,NaN,NaN,NaN,20.174664,100390.972148,201219.923334,NaN,NaN,4.565537e+05,2.310241e+07
std,NaN,NaN,NaN,3.633757,249.927870,735.677344,NaN,NaN,7.260555e+05,2.005790e+07
min,NaN,NaN,NaN,2.466667,100000.000000,200000.000000,NaN,NaN,0.000000e+00,1.030000e+05
25%,NaN,NaN,NaN,20.000000,100155.000000,200550.000000,NaN,NaN,5.900000e+04,7.998500e+06
50%,NaN,NaN,NaN,20.000000,100346.000000,201167.000000,NaN,NaN,1.090000e+05,1.732600e+07
75%,NaN,NaN,NaN,20.000000,100596.000000,201863.000000,NaN,NaN,4.990000e+05,3.276300e+07
max,NaN,NaN,NaN,60.000000,100849.000000,202513.000000,NaN,NaN,7.930000e+06,3.220090e+08

In [5]:
df1[df1["상품군"] != '무형']

,방송일시,time,ampm,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
0,2019-01-01,06:00:00,AM,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0
1,2019-01-01,06:00:00,AM,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0
2,2019-01-01,06:20:00,AM,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0
3,2019-01-01,06:20:00,AM,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0
4,2019-01-01,06:40:00,AM,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0
...,...,...,...,...,...,...,...,...,...,...
38299,2019-12-31,11:40:00,PM,NaN,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0
38300,2020-01-01,12:00:00,AM,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000.0
38301,2020-01-01,12:00:00,AM,NaN,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0
38302,2020-01-01,12:00:00,AM,NaN,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0
38303,2020-01-01,12:00:00,AM,NaN,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0

In [6]:
idx_무형 = df1[df1["상품군"]== "무형"].index
data = df1.drop(idx_무형)
data

,방송일시,time,ampm,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
0,2019-01-01,06:00:00,AM,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0
1,2019-01-01,06:00:00,AM,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0
2,2019-01-01,06:20:00,AM,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0
3,2019-01-01,06:20:00,AM,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0
4,2019-01-01,06:40:00,AM,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0
...,...,...,...,...,...,...,...,...,...,...
38299,2019-12-31,11:40:00,PM,NaN,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0
38300,2020-01-01,12:00:00,AM,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000.0
38301,2020-01-01,12:00:00,AM,NaN,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0
38302,2020-01-01,12:00:00,AM,NaN,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0
38303,2020-01-01,12:00:00,AM,NaN,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37372 entries, 0 to 38303
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   방송일시    37372 non-null  object
 1   time    37372 non-null  object
 2   ampm    37372 non-null  object
 3   노출(분)   20588 non-null  float64
 4   마더코드    37372 non-null  int64
 5   상품코드    37372 non-null  int64
 6   상품명     37372 non-null  object
 7   상품군     37372 non-null  object
 8   판매단가    37372 non-null  int64
 9   취급액     35379 non-null  float64
dtypes: float64(2), int64(3), object(5)
memory usage: 3.1+ MB

In [8]:
t = data[data['노출(분)'] > 0]
t1 = t[["방송일시", 'time',"ampm",'노출(분)', '마더코드','판매단가','취급액']]
t1

             방송일시      time ampm  노출(분)    마더코드     판매단가         취급액
0      2019-01-01  06:00:00   AM   20.0  100346    39900   2099000.0
2      2019-01-01  06:20:00   AM   20.0  100346    39900   3262000.0
4      2019-01-01  06:40:00   AM   20.0  100346    39900   6672000.0
6      2019-01-01  07:00:00   AM   20.0  100305    59000   6819000.0
7      2019-01-01  07:20:00   AM   20.0  100305    59000  15689000.0
...           ...       ...  ...    ...     ...      ...         ...
38285  2019-12-31  09:40:00   PM   20.0  100155  1359000  43700000.0
38287  2019-12-31  10:00:00   PM   20.0  100155  1359000  72733000.0
38292  2019-12-31  11:20:00   PM   20.0  100448   178000   4573000.0
38296  2019-12-31  11:40:00   PM   20.0  100448   178000   9149000.0
38300  2020-01-01  12:00:00   AM   20.0  100448   178000  50929000.0

[20588 rows x 7 columns]

In [9]:
data2 = pd.merge(data, t1,how = "left", left_on = ('방송일시','time',"ampm"), right_on = ('방송일시','time',"ampm"))
data2

,방송일시,time,ampm,노출(분)_x,마더코드_x,상품코드,상품명,상품군,판매단가_x,취급액_x,노출(분)_y,마더코드_y,판매단가_y,취급액_y
0,2019-01-01,06:00:00,AM,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,20.0,100346,39900,2099000.0
1,2019-01-01,06:00:00,AM,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,20.0,100346,39900,2099000.0
2,2019-01-01,06:20:00,AM,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,20.0,100346,39900,3262000.0
3,2019-01-01,06:20:00,AM,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,20.0,100346,39900,3262000.0
4,2019-01-01,06:40:00,AM,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,20.0,100346,39900,6672000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37367,2019-12-31,11:40:00,PM,NaN,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0,20.0,100448,178000,9149000.0
37368,2020-01-01,12:00:00,AM,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000.0,20.0,100448,178000,50929000.0
37369,2020-01-01,12:00:00,AM,NaN,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0,20.0,100448,178000,50929000.0
37370,2020-01-01,12:00:00,AM,NaN,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0,20.0,100448,178000,50929000.0
37371,2020-01-01,12:00:00,AM,NaN,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0,20.0,100448,178000,50929000.0

In [10]:
data2.isnull().sum()

방송일시           0
time           0
ampm           0
노출(분)_x    16784
마더코드_x         0
상품코드           0
상품명            0
상품군            0
판매단가_x         0
취급액_x       1993
노출(분)_y        0
마더코드_y         0
판매단가_y         0
취급액_y       1002
dtype: int64

In [11]:
data2.columns

Index(['방송일시', 'time', 'ampm', '노출(분)_x', '마더코드_x', '상품코드', '상품명', '상품군',
       '판매단가_x', '취급액_x', '노출(분)_y', '마더코드_y', '판매단가_y', '취급액_y'],
      dtype='object')

In [12]:
data3 = data2[['방송일시', 'time', 'ampm', '노출(분)_y', '마더코드_x', '상품코드', '상품명', '상품군','판매단가_x', '취급액_x']]
data3

,방송일시,time,ampm,노출(분)_y,마더코드_x,상품코드,상품명,상품군,판매단가_x,취급액_x
0,2019-01-01,06:00:00,AM,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0
1,2019-01-01,06:00:00,AM,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0
2,2019-01-01,06:20:00,AM,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0
3,2019-01-01,06:20:00,AM,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0
4,2019-01-01,06:40:00,AM,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0
...,...,...,...,...,...,...,...,...,...,...
37367,2019-12-31,11:40:00,PM,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0
37368,2020-01-01,12:00:00,AM,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000.0
37369,2020-01-01,12:00:00,AM,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0
37370,2020-01-01,12:00:00,AM,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0
37371,2020-01-01,12:00:00,AM,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0

In [13]:
d = [ i[:3] for i in data3['time'].tolist()]
d

TypeError: 'datetime.time' object is not subscriptable

In [21]:
data3['hour'] = pd.to_datetime(data3["time"], format = "%H:%M:%S").dt.hour
data3

C:\Users\hyeah\anaconda3\envs\py37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,방송일시,time,ampm,노출(분)_y,마더코드_x,상품코드,상품명,상품군,판매단가_x,취급액_x,hour
0,2019-01-01,06:00:00,AM,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,6
1,2019-01-01,06:00:00,AM,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,6
2,2019-01-01,06:20:00,AM,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,6
3,2019-01-01,06:20:00,AM,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,6
4,2019-01-01,06:40:00,AM,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,6
...,...,...,...,...,...,...,...,...,...,...,...
37367,2019-12-31,11:40:00,PM,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0,11
37368,2020-01-01,12:00:00,AM,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000.0,12
37369,2020-01-01,12:00:00,AM,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0,12
37370,2020-01-01,12:00:00,AM,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0,12
37371,2020-01-01,12:00:00,AM,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0,12

In [22]:
data3.columns

Index(['방송일시', 'time', 'ampm', '노출(분)_y', '마더코드_x', '상품코드', '상품명', '상품군',
       '판매단가_x', '취급액_x', 'hour'],
      dtype='object')

In [23]:
data3 = data3[['방송일시', 'time', 'hour', 'ampm', '노출(분)_y', '마더코드_x', '상품코드', '상품명', '상품군',
       '판매단가_x', '취급액_x' ]]

In [29]:
data4 = data3[['방송일시','hour', 'ampm', '노출(분)_y', '마더코드_x', '상품코드', '상품명', '상품군',
       '판매단가_x', '취급액_x' ]]

In [45]:
data3_group = data4.groupby(['방송일시','hour', 'ampm','마더코드_x', '상품코드', '상품명', '상품군','판매단가_x'])['노출(분)_y','취급액_x'].sum()
data3_group = data3_group.reset_index()

C:\Users\hyeah\anaconda3\envs\py37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [41]:
data3_group.to_csv("test_g.csv")

In [42]:
time = data3.drop_duplicates(subset = ['방송일시','hour','ampm','마더코드_x','상품코드','상품명'], keep ="first")
time

,방송일시,time,hour,ampm,노출(분)_y,마더코드_x,상품코드,상품명,상품군,판매단가_x,취급액_x
0,2019-01-01,06:00:00,6,AM,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0
1,2019-01-01,06:00:00,6,AM,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0
6,2019-01-01,07:00:00,7,AM,20.0,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,6819000.0
9,2019-01-01,08:00:00,8,AM,20.0,100808,202377,CERINI by PAT 남성 소프트 기모 릴렉스팬츠,의류,59900,16133000.0
12,2019-01-01,09:00:00,9,AM,20.0,100816,202404,보코 리버시블 무스탕,의류,79000,16075000.0
...,...,...,...,...,...,...,...,...,...,...,...
37363,2019-12-31,11:20:00,11,PM,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,1664000.0
37368,2020-01-01,12:00:00,12,AM,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000.0
37369,2020-01-01,12:00:00,12,AM,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0
37370,2020-01-01,12:00:00,12,AM,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0
37371,2020-01-01,12:00:00,12,AM,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0

In [52]:
data3_g_time = pd.merge(data3_group, time, how="inner", on=('방송일시','hour','ampm','마더코드_x','상품코드','상품명'))
data3_g_time

,방송일시,hour,ampm,마더코드_x,상품코드,상품명,상품군_x,판매단가_x_x,노출(분)_y_x,취급액_x_x,time,노출(분)_y_y,상품군_y,판매단가_x_y,취급액_x_y
0,2019-01-01,1,PM,100305,200970,오모떼 360도 텐션업 레이스 패키지 시즌4,속옷,109000,60.0,111546000.0,01:00:00,30.0,속옷,109000,32273000.0
1,2019-01-01,2,PM,100377,201220,그렉노먼 남성 구스다운 롱 벤치코트,의류,119000,60.0,51795000.0,02:00:00,30.0,의류,119000,11269000.0
2,2019-01-01,2,PM,100377,201226,그렉노먼 여성 구스다운 롱 벤치코트,의류,119000,60.0,68135000.0,02:00:00,30.0,의류,119000,20841000.0
3,2019-01-01,3,PM,100496,201497,뽕셰프 이봉원 특갈비탕 12팩,농수축,60900,60.0,86177000.0,03:00:00,20.0,농수축,60900,14113000.0
4,2019-01-01,4,PM,100322,201479,국내산 손질갑오징어 8팩,농수축,49900,40.0,176244000.0,04:00:00,20.0,농수축,49900,60787000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15253,2019-12-31,12,PM,100837,202480,일시불 쿠쿠전기밥솥 10인용 (QS),주방,208000,40.0,20432000.0,12:20:00,20.0,주방,208000,5520000.0
15254,2020-01-01,12,AM,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,20.0,50929000.0,12:00:00,20.0,주방,178000,50929000.0
15255,2020-01-01,12,AM,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,20.0,13765000.0,12:00:00,20.0,주방,158000,13765000.0
15256,2020-01-01,12,AM,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,20.0,104392000.0,12:00:00,20.0,주방,168000,104392000.0
15257,2020-01-01,12,AM,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,20.0,46608000.0,12:00:00,20.0,주방,148000,46608000.0

In [53]:
data3_g_time.columns

Index(['방송일시', 'hour', 'ampm', '마더코드_x', '상품코드', '상품명', '상품군_x', '판매단가_x_x',
       '노출(분)_y_x', '취급액_x_x', 'time', '노출(분)_y_y', '상품군_y', '판매단가_x_y',
       '취급액_x_y'],
      dtype='object')

In [57]:
data3_g_time = data3_g_time[['방송일시','time', 'hour', 'ampm', '노출(분)_y_x','마더코드_x', '상품코드', '상품명', '상품군_x', '판매단가_x_x',
        '취급액_x_x']].copy()

In [61]:
data3_g = data3_group.copy()

In [64]:
data3_g_time = data3_g_time.rename(columns = {'노출(분)_y_x':'노출시간','마더코드_x':"마더코드", '상품군_x':'상품군', '판매단가_x_x':"판매단가",
        '취급액_x_x':'취급액'})
data3_g_time

,방송일시,time,hour,ampm,노출시간,마더코드,상품코드,상품명,상품군,판매단가,취급액
0,2019-01-01,01:00:00,1,PM,60.0,100305,200970,오모떼 360도 텐션업 레이스 패키지 시즌4,속옷,109000,111546000.0
1,2019-01-01,02:00:00,2,PM,60.0,100377,201220,그렉노먼 남성 구스다운 롱 벤치코트,의류,119000,51795000.0
2,2019-01-01,02:00:00,2,PM,60.0,100377,201226,그렉노먼 여성 구스다운 롱 벤치코트,의류,119000,68135000.0
3,2019-01-01,03:00:00,3,PM,60.0,100496,201497,뽕셰프 이봉원 특갈비탕 12팩,농수축,60900,86177000.0
4,2019-01-01,04:00:00,4,PM,40.0,100322,201479,국내산 손질갑오징어 8팩,농수축,49900,176244000.0
...,...,...,...,...,...,...,...,...,...,...,...
15253,2019-12-31,12:20:00,12,PM,40.0,100837,202480,일시불 쿠쿠전기밥솥 10인용 (QS),주방,208000,20432000.0
15254,2020-01-01,12:00:00,12,AM,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000.0
15255,2020-01-01,12:00:00,12,AM,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0
15256,2020-01-01,12:00:00,12,AM,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0
15257,2020-01-01,12:00:00,12,AM,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0

In [67]:
data3_g = data3_g.rename(columns = {'노출(분)_y':'노출시간','마더코드_x':"마더코드", '상품군_x':'상품군', '판매단가_x':"판매단가",
        '취급액_x':'취급액'})

In [71]:
import numpy as np
data3_g["판매개수"] = np.ceil(data3_g["취급액"]/data3_g['판매단가'])
data3_g

,방송일시,hour,ampm,마더코드,상품코드,상품명,상품군,판매단가,노출시간,취급액,판매개수
0,2019-01-01,1,PM,100305,200970,오모떼 360도 텐션업 레이스 패키지 시즌4,속옷,109000,60.0,111546000.0,1024.0
1,2019-01-01,2,PM,100377,201220,그렉노먼 남성 구스다운 롱 벤치코트,의류,119000,60.0,51795000.0,436.0
2,2019-01-01,2,PM,100377,201226,그렉노먼 여성 구스다운 롱 벤치코트,의류,119000,60.0,68135000.0,573.0
3,2019-01-01,3,PM,100496,201497,뽕셰프 이봉원 특갈비탕 12팩,농수축,60900,60.0,86177000.0,1416.0
4,2019-01-01,4,PM,100322,201479,국내산 손질갑오징어 8팩,농수축,49900,40.0,176244000.0,3532.0
...,...,...,...,...,...,...,...,...,...,...,...
15253,2019-12-31,12,PM,100837,202480,일시불 쿠쿠전기밥솥 10인용 (QS),주방,208000,40.0,20432000.0,99.0
15254,2020-01-01,12,AM,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,20.0,50929000.0,287.0
15255,2020-01-01,12,AM,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,20.0,13765000.0,88.0
15256,2020-01-01,12,AM,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,20.0,104392000.0,622.0
15257,2020-01-01,12,AM,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,20.0,46608000.0,315.0

In [72]:
data3_g_time["판매개수"] = np.ceil(data3_g_time["취급액"]/data3_g['판매단가'])
data3_g_time

,방송일시,time,hour,ampm,노출시간,마더코드,상품코드,상품명,상품군,판매단가,취급액,판매개수
0,2019-01-01,01:00:00,1,PM,60.0,100305,200970,오모떼 360도 텐션업 레이스 패키지 시즌4,속옷,109000,111546000.0,1024.0
1,2019-01-01,02:00:00,2,PM,60.0,100377,201220,그렉노먼 남성 구스다운 롱 벤치코트,의류,119000,51795000.0,436.0
2,2019-01-01,02:00:00,2,PM,60.0,100377,201226,그렉노먼 여성 구스다운 롱 벤치코트,의류,119000,68135000.0,573.0
3,2019-01-01,03:00:00,3,PM,60.0,100496,201497,뽕셰프 이봉원 특갈비탕 12팩,농수축,60900,86177000.0,1416.0
4,2019-01-01,04:00:00,4,PM,40.0,100322,201479,국내산 손질갑오징어 8팩,농수축,49900,176244000.0,3532.0
...,...,...,...,...,...,...,...,...,...,...,...,...
15253,2019-12-31,12:20:00,12,PM,40.0,100837,202480,일시불 쿠쿠전기밥솥 10인용 (QS),주방,208000,20432000.0,99.0
15254,2020-01-01,12:00:00,12,AM,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000.0,287.0
15255,2020-01-01,12:00:00,12,AM,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0,88.0
15256,2020-01-01,12:00:00,12,AM,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0,622.0
15257,2020-01-01,12:00:00,12,AM,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0,315.0

In [79]:
for i in range(len(data3_g)):
    if data3_g['ampm'][i] == "PM":        
        if data3_g["hour"][i] != 12:
            data3_g["hour"][i] += 12
    elif data3_g['ampm'][i] == "AM":
        if data3_g["hour"][i] == 12:
            data3_g["hour"][i] = 0
            
data3_g

C:\Users\hyeah\anaconda3\envs\py37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\hyeah\anaconda3\envs\py37\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,방송일시,hour,ampm,마더코드,상품코드,상품명,상품군,판매단가,노출시간,취급액,판매개수
0,2019-01-01,13,PM,100305,200970,오모떼 360도 텐션업 레이스 패키지 시즌4,속옷,109000,60.0,111546000.0,1024.0
1,2019-01-01,14,PM,100377,201220,그렉노먼 남성 구스다운 롱 벤치코트,의류,119000,60.0,51795000.0,436.0
2,2019-01-01,14,PM,100377,201226,그렉노먼 여성 구스다운 롱 벤치코트,의류,119000,60.0,68135000.0,573.0
3,2019-01-01,15,PM,100496,201497,뽕셰프 이봉원 특갈비탕 12팩,농수축,60900,60.0,86177000.0,1416.0
4,2019-01-01,16,PM,100322,201479,국내산 손질갑오징어 8팩,농수축,49900,40.0,176244000.0,3532.0
...,...,...,...,...,...,...,...,...,...,...,...
15253,2019-12-31,12,PM,100837,202480,일시불 쿠쿠전기밥솥 10인용 (QS),주방,208000,40.0,20432000.0,99.0
15254,2020-01-01,0,AM,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,20.0,50929000.0,287.0
15255,2020-01-01,0,AM,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,20.0,13765000.0,88.0
15256,2020-01-01,0,AM,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,20.0,104392000.0,622.0
15257,2020-01-01,0,AM,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,20.0,46608000.0,315.0

In [80]:
for i in range(len(data3_g_time)):
    if data3_g_time['ampm'][i] == "PM":        
        if data3_g_time["hour"][i] != 12:
            data3_g_time["hour"][i] += 12
    elif data3_g_time['ampm'][i] == "AM":
        if data3_g_time["hour"][i] == 12:
            data3_g_time["hour"][i] = 0
            
data3_g_time

C:\Users\hyeah\anaconda3\envs\py37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\hyeah\anaconda3\envs\py37\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,방송일시,time,hour,ampm,노출시간,마더코드,상품코드,상품명,상품군,판매단가,취급액,판매개수
0,2019-01-01,01:00:00,13,PM,60.0,100305,200970,오모떼 360도 텐션업 레이스 패키지 시즌4,속옷,109000,111546000.0,1024.0
1,2019-01-01,02:00:00,14,PM,60.0,100377,201220,그렉노먼 남성 구스다운 롱 벤치코트,의류,119000,51795000.0,436.0
2,2019-01-01,02:00:00,14,PM,60.0,100377,201226,그렉노먼 여성 구스다운 롱 벤치코트,의류,119000,68135000.0,573.0
3,2019-01-01,03:00:00,15,PM,60.0,100496,201497,뽕셰프 이봉원 특갈비탕 12팩,농수축,60900,86177000.0,1416.0
4,2019-01-01,04:00:00,16,PM,40.0,100322,201479,국내산 손질갑오징어 8팩,농수축,49900,176244000.0,3532.0
...,...,...,...,...,...,...,...,...,...,...,...,...
15253,2019-12-31,12:20:00,12,PM,40.0,100837,202480,일시불 쿠쿠전기밥솥 10인용 (QS),주방,208000,20432000.0,99.0
15254,2020-01-01,12:00:00,0,AM,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000.0,287.0
15255,2020-01-01,12:00:00,0,AM,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0,88.0
15256,2020-01-01,12:00:00,0,AM,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0,622.0
15257,2020-01-01,12:00:00,0,AM,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0,315.0

In [83]:
data3_g.to_csv("data/실적데이터정제1.csv", encoding = "cp949")
data3_g.to_csv("data/실적데이터정제1_time.csv", encoding = "cp949")

In [74]:
data3_g.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15258 entries, 0 to 15257
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   방송일시    15258 non-null  object
 1   hour    15258 non-null  int64
 2   ampm    15258 non-null  object
 3   마더코드    15258 non-null  int64
 4   상품코드    15258 non-null  int64
 5   상품명     15258 non-null  object
 6   상품군     15258 non-null  object
 7   판매단가    15258 non-null  int64
 8   노출시간    15258 non-null  float64
 9   취급액     15258 non-null  float64
 10  판매개수    15258 non-null  float64
dtypes: float64(3), int64(4), object(4)
memory usage: 1.3+ MB